.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__ab0H {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__ab0H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ab0H > :global(.__wab_flex-container) > *,
.freeBox__ab0H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ab0H > :global(.__wab_flex-container) > picture > img,
.freeBox__ab0H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__mfRgC {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mfRgC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mfRgC > :global(.__wab_flex-container) > *,
.freeBox__mfRgC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mfRgC > :global(.__wab_flex-container) > picture > img,
.freeBox__mfRgC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__h4Bfp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__xNmsG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__acg6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rKy8N:global(.__wab_instance) {
  position: relative;
}
.svg__ducJd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ec627 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qcxYj:global(.__wab_instance) {
  position: relative;
}
.svg__bucLl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__drAZg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wubi:global(.__wab_instance) {
  position: relative;
}
.svg__o4Bf2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0VmMo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
