.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___8G0I {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox___8G0I > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___8G0I > :global(.__wab_flex-container) > *,
.freeBox___8G0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8G0I > :global(.__wab_flex-container) > picture > img,
.freeBox___8G0I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8G0I {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8G0I > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8G0I > :global(.__wab_flex-container) > *,
  .freeBox___8G0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8G0I > :global(.__wab_flex-container) > picture > img,
  .freeBox___8G0I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__jpEvh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jpEvh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jpEvh > :global(.__wab_flex-container) > *,
.freeBox__jpEvh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jpEvh > :global(.__wab_flex-container) > picture > img,
.freeBox__jpEvh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__filled__jpEvhpu0Pi > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__yjc9S {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.freeBox___0SWpi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___0SWpi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0SWpi > :global(.__wab_flex-container) > *,
.freeBox___0SWpi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0SWpi > :global(.__wab_flex-container) > picture > img,
.freeBox___0SWpi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text___8Y6Do {
  text-align: center;
}
.text__filled___8Y6DoPu0Pi {
  text-align: left;
}
.svg__qw2D7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ygdMm {
  display: block;
}
.svg___85QL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__o1A5Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___73S7G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__bbkYt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__filled__bbkYtPu0Pi {
  top: auto;
  left: auto;
}
.freeBox__mnf8S {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mnf8S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mnf8S > :global(.__wab_flex-container) > *,
.freeBox__mnf8S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mnf8S > :global(.__wab_flex-container) > picture > img,
.freeBox__mnf8S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___7FnuP {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox___7FnuP > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7FnuP > :global(.__wab_flex-container) > *,
.freeBox___7FnuP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7FnuP > :global(.__wab_flex-container) > picture > img,
.freeBox___7FnuP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__owqN {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__hjHqj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hjHqj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hjHqj > :global(.__wab_flex-container) > *,
.freeBox__hjHqj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hjHqj > :global(.__wab_flex-container) > picture > img,
.freeBox__hjHqj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__io6NF {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__ivvNr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot5 {
  color: #ffffff80;
}
.freeBox__wXReu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetChildren {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__jJpAt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___5PHx {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
  display: block;
}
.freeBox__oc3UI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__qm2R4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__t9Q1 {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
  display: block;
}
.freeBox__z4NSv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot2 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__h5WKi:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.svg__eeR3L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ja9N {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__fjo05 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox___253T7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lVPrx {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
  display: block;
}
.freeBox__kgkRo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot4 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__ixAkS:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.svg__nq4Xr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__z3DyE {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__jd1Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__fVlWq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fVlWq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fVlWq > :global(.__wab_flex-container) > *,
.freeBox__fVlWq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fVlWq > :global(.__wab_flex-container) > picture > img,
.freeBox__fVlWq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__efKkq {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
  display: block;
}
.freeBox__vnYqm {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__vnYqm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vnYqm > :global(.__wab_flex-container) > *,
.freeBox__vnYqm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vnYqm > :global(.__wab_flex-container) > picture > img,
.freeBox__vnYqm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img___3Dn5K {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__u121T {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__zGvfL {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__r85DJ {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox__ll8Fb {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2f2f7;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__ll8Fb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ll8Fb > :global(.__wab_flex-container) > *,
.freeBox__ll8Fb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ll8Fb > :global(.__wab_flex-container) > picture > img,
.freeBox__ll8Fb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ll8Fb {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ll8Fb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ll8Fb > :global(.__wab_flex-container) > *,
  .freeBox__ll8Fb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ll8Fb > :global(.__wab_flex-container) > picture > img,
  .freeBox__ll8Fb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__o5Awm {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__o5Awm > picture > img {
  object-fit: cover;
}
.img__o5Awm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kwT1 {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kwT1 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kwT1 > :global(.__wab_flex-container) > *,
.freeBox__kwT1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwT1 > :global(.__wab_flex-container) > picture > img,
.freeBox__kwT1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwT1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwT1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwT1 > :global(.__wab_flex-container) > *,
  .freeBox__kwT1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kwT1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__kwT1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__jb1Nx {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jb1Nx {
    text-align: center;
  }
}
.button__tNzlD:global(.__wab_instance) {
  position: relative;
}
.svg___7EHko {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yr7X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
